<main>
  <header class="p-3 bg-secondary mb-4">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2" routerLink="/calcul"
            [routerLinkActive]="'btn-warinng'">Calcul</button>
          <button type="button" class="btn btn-outline-light me-2" routerLink="/creat-product"
            [routerLinkActive]="'btn-warinng'">Create product</button>
          <button type="button" class="btn btn-warning" routerLink="/product-list">Product List</button>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>