<h4>Angular - Signals</h4>
<ul>
  <li><strong> zone.js</strong> <br>c'est une librairie qui intercepte tous les changements/evenement de tout la page et
    informe angular qui pourrais impacter l'etat a chaque changement</li>
  <li>avantage des signales</li>
  <li>les primitives: signales,computed,et effect : <ol><strong>Signals: </strong>
      Valeur en lecture et ecriture
    </ol>
    <ol><strong>Computed:</strong>Lecture seule, calculée sur base d'autre signaux</ol>
    <ol><strong>Effect:</strong>Fonction arbitraire évaluée lors de changements des signaux utilisés</ol>
  </li>
</ul>
<hr>

<app-additons></app-additons>
<app-list></app-list>